<%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis animi explicabo itaque repellat saepe non ducimus
    asperiores deserunt, ipsum dolorum deleniti facilis quas, voluptatem minima, fugit placeat veritatis. Veritatis,
    aut!</p>

<%- include("footer") -%>